VITE_SUPABASE_URL=https://btzmrtavgglsakdifrct.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ0em1ydGF2Z2dsc2FrZGlmcmN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyMDA4ODQsImV4cCI6MjA3Mzc3Njg4NH0.Yt-FgXog1lC_tht60WG6ecPueKu-APsox2BdOuh0IVw